.game-section{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;  
  min-height: 70vh;
}

.firsttext{
    font-size: 50px;
    margin-bottom: 10px;
}

.secondtext{
    font-size: 25px;
}

.thirdtext{
    font-size: 16px;
    margin: 10px; 
}

.support-box{
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    width:80vw;
    min-height:76px;
    min-width: 600px;
    gap: 10px;
}



.clock-holder{
    width:300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 50px;
    background-color: darkcyan; 
}

.clock{
    text-align: center;
    font-size: 16px;
    color: pink;
}
.bbshown{
    display: block;    
    padding: 20px 10px;
    background-color: lightskyblue; 
    cursor:pointer;
}

.bbhiden{
    display:none;
}

.highscore{
    background-color: darkcyan; 
    width: 300px;
    text-align: center;
}

.highscore-name{
    height: 20px;
    color: pink;
}

.hscore{
    background-color: lightskyblue; 
    border: 1px solid grey; 
    line-height: 17px; 
    text-align: left;  
}



.ball-holder{
    width:70vw;
    height: 60vh;
    display: flex;
    justify-content: space-around;
    min-height: 200px;
    border-radius: 10px;
    border-style: groove;
    border-color: aqua;
    border-width: 2px;
    background-color: lightgoldenrodyellow;
    position: relative;
    overflow: hidden;
}

@media(max-width:605px){
    .support-box{
        height:160px;
        width: 300px;
        min-width: 300px;
        flex-direction: column;
        justify-content:space-between;
    }
}

.box{
    margin: 2px 0px;
    width:60vw;
    height: calc(60vw / 16);
    border: 3px solid black;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: 1fr

}

.smallboxR{
    border: dotted 1px black;
    width: 100%;
    height: 100%;
    background-color: lightyellow; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.ball, .fastball{
    border-radius: 50%;
    /* border: 1px rgb(0, 0, 0, 0.3) solid; */
    height:2.5vw;
    width:2.5vw;
    font-size: 1vw;
    line-height: 1vw;
   padding-top: 0.75vw;
    text-align: center;
    transition: 5000ms;
    transition-timing-function: linear;
    cursor:crosshair;
    position: absolute;
    z-index: 1;
    user-select: none;
}

.fastball{
    transition: 4000ms;
}

.stopball{
    border-radius: 50%;
    border: 1px rgb(0, 0, 0, 0.3) solid;
    height:50px;
    width:50px;
    font-size: 14px;
    line-height: 14px;
   padding-top: 18px;
    text-align: center;
}

.message-screen{
    font-size: 35px;
    font-weight: bold;
    color: darkorchid;
    text-transform: uppercase;
    border: 1px double darkcyan;
    width: 300px;
    min-height: 150px;
    text-align: center;
}

.infosection{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}